[Unit]
Description=Simple server for running CGI applications over FastCGI
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
Restart=on-abort
PIDFile=/var/run/fcgiwrap.pid
ExecStart=/usr/bin/spawn-fcgi -u nginx -P /var/run/fcgiwrap.pid -s /var/run/fcgiwrap.sock -- /usr/sbin/fcgiwrap
ExecStop=/usr/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
