server {
    listen       82;
    server_name  localhost;

    location ~* ^.+\.(css|png|ico)$ {
        root /usr/share/cgit;
    }

    location /cgit {
        root /var/www/cgi-bin;
        include /etc/nginx/fastcgi_params;
        fastcgi_pass unix:/var/run/fcgiwrap.sock;
    }
}
